<img src="hero.png" width="1000" height="500">
<h1 style='text-align: center;'>OLIST Brazillian E-Commerce EDA</h1>
<h5 style='text-align: right;'>researched by : Rahmatuel Samuel</h5>

## Project Description

1. This dataset is generously provided by Olist, the largest department store on the Brazilian market. Olist connects small businesses from all over Brazil to the channel without any hassle and with one contract.

2. E-commerce is a business model that allows companies or individuals to buy or sell goods via the internet. E-commerce customers have unimaginable variety personalities, a potential market is usually not characterized singularly nor easily. 

3. It becomes important to know your target customer base in order to make sure your communications are both effective (attractive, action-promoting) and appropriate (non-offensive, timely, and relevant). 

4. The dataset has information of 100k orders from 2016 to 2018 made in several markets in Brazil. This is real commercial data, it has been anonymized.

5. The merchant can sell their products through the Olist Store and have them shipped directly to the customer using the Olist logistics partner. 

6. Once the customer purchases the product from the Olist Store, the seller will be notified to fulfill that order. 

7. Once the customer receives the product, or the estimated delivery date is due, the customer gets a satisfaction survey via email where he or she can provide a note for the purchase experience and some comments.

## Data Understanding 

| Columns Name | Data Type, Length | Description | Present |
| -- | -- | -- | -- |
| customer_id | object | Key to the orders dataset. Each order has a unique customer_id.| Unique customer id to merge with orders dataset |
| customer_unique_id | object | unique identifier of a customer.| represent customer unique id
| customer_zip_code_prefix | int64 | first five digits of customer zip code| represent first five zip code of geolocation customer
| customer_city  |  object |customer city name| a customer city name in brazzil
| customer_state |  object |customer state| represent 2 letters of name customer sate
| geolocation_zip_code_prefix | int64 |first 5 digits of zip code| represent first five zip code of geolocation city and state
| geolocation_lat | float64 |Geolocation latitude| represent of the angular distance of a place north or south of the earth's equator, or of a celestial object north or south of the celestial equator, expressed in degrees.
| geolocation_lng | float64 |Geolocation longitude| the angular distance of a place east or west of the meridian at Greenwich, England, or west of the standard meridian of a celestial object, expressed in degrees.
| geolocation_city |  object |city name| represent of geolocation city name
| geolocation_state |  object |state| represent 2 letter of state where the geolocation is 
| order_id  |  object |order unique identifier| An unique id where every transaction have order id
| order_item_id | int64 |sequential number identifying number of items included in the same order.| A serial number for an unique identifier assigned  sequentially to an item, to uniquely identify it
| product_id  |  object |product unique identifier| A serial number for a unique identifier assigned  to an product, to uniquely identify it
| seller_id | object  |seller unique identifier| A serial number for a unique identifier assigned  to an seller, to uniquely identify it
| shipping_limit_date| object  |Shows the seller shipping limit date for handling the order over to the logistic partner.| the estimated delivery date is when a customer can reasonably expect the order to arrive.
| price | float64 |item price| the retail price of each item of consumer goods.
| freight_value | float64 |item freight value item (if an order has more than one item the freight value is splitted between)|  a price at which a certain cargo is delivered from one point to another
| payment_sequential | int64 |a customer may pay an order with more than one payment method. If he does so, a sequence will be| a sequential pay structure, principal payments are typically allocated to the securities in order of seniority.
| payment_type |  object |method of payment chosen by the customer.| A various of type payment for customer to pay a transaction
| payment_installments | int64 |number of installments chosen by the customer.| Instalment payments refer to a customer paying a bill in small portions throughout a fixed period of time
| payment_value  | float64 | transaction value.| A total of amount money customer need to pay to succesfull transaction

## Data Schemes
<img src="data_schemes.png" width="1000" height="500">

## Data Relational Information

## EDA

In [1]:
import pandas as pd

In [2]:
lst = [
    'olist_customers_dataset.csv',
    'olist_geolocation_dataset.csv',
    'olist_order_items_dataset.csv',
    'olist_order_payments_dataset.csv',
    'olist_order_reviews_dataset.csv',
    'olist_orders_dataset.csv',
    'olist_products_dataset.csv',
    'olist_sellers_dataset.csv',
    'product_category_name_translation.csv'
]

In [3]:
for i in lst:
    df = pd.read_csv(i)
#     df.info()

<img src="Data Relation.png" width="1000" height="500">

# Data Loading

## 1. Customers Data

In [4]:
customers = pd.read_csv("olist_customers_dataset.csv")

In [5]:
customers.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

## 2. Sellers Data

In [6]:
sellers = pd.read_csv("olist_sellers_dataset.csv")

In [7]:
sellers.head(1)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP

## 3. Products

In [8]:
products = pd.read_csv("olist_products_dataset.csv")

In [9]:
products.head(1)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

#### Remove Unwanted Columns in Products

In [10]:
products = products.drop(
    columns=['product_name_lenght',
             'product_description_lenght',
             'product_photos_qty',
             'product_weight_g',
             'product_length_cm',
             'product_height_cm',
             'product_width_cm']
)

In [11]:
products.head(1)

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria

### Change the product name to english

In [12]:
pcn_transl = pd.read_csv("product_category_name_translation.csv")

In [13]:
products = products.merge(
    pcn_transl,
    on = 'product_category_name',
    how='left'
)

In [14]:
products.head(1)

,product_id,product_category_name,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery

In [15]:
products.drop(
    'product_category_name',
    axis=1,
    inplace=True
)

                         product_id product_category_name_english
0  1e9e8ef04dbcff4541ed26657ea517e5                     perfumery

In [ ]:
products.head(1)

## 4. Order, Orders Item & Order Reviews Data

In [16]:
order_items = pd.read_csv("olist_order_items_dataset.csv")
orders = pd.read_csv("olist_orders_dataset.csv")
order_reviews = pd.read_csv("olist_order_reviews_dataset.csv")

## 5. Order Payments Data

In [17]:
order_pay = pd.read_csv("olist_order_payments_dataset.csv")

## 6. Geolocation Data

In [18]:
geolocation = pd.read_csv("olist_geolocation_dataset.csv")

In [ ]:
# remove columns yang tidak butuh
df = df.drop(axis=1,
columns=['
'order_delivered_carrier_date',
'order_delivered_customer_date',
'order_estimated_delivery_date',
         'shipping_limit_date',
'order_approved_at'])