<img src="hero.png" width="1000" height="500">
<h1 style='text-align: center;'>OLIST Brazillian E-Commerce EDA</h1>
<h5 style='text-align: right;'>researched by : Rahmatuel Samuel</h5>

## Project Description

1. This dataset is generously provided by Olist, the largest department store on the Brazilian market. Olist connects small businesses from all over Brazil to the channel without any hassle and with one contract.

2. E-commerce is a business model that allows companies or individuals to buy or sell goods via the internet. E-commerce customers have unimaginable variety personalities, a potential market is usually not characterized singularly nor easily. 

3. It becomes important to know your target customer base in order to make sure your communications are both effective (attractive, action-promoting) and appropriate (non-offensive, timely, and relevant). 

4. The dataset has information of 100k orders from 2016 to 2018 made in several markets in Brazil. This is real commercial data, it has been anonymized.

5. The merchant can sell their products through the Olist Store and have them shipped directly to the customer using the Olist logistics partner. 

6. Once the customer purchases the product from the Olist Store, the seller will be notified to fulfill that order. 

7. Once the customer receives the product, or the estimated delivery date is due, the customer gets a satisfaction survey via email where he or she can provide a note for the purchase experience and some comments.

## Data Understanding 

| Columns Name | Data Type, Length | Description | Present |
| -- | -- | -- | -- |
| customer_id | object | Key to the orders dataset. Each order has a unique customer_id.| Unique customer id to merge with orders dataset |
| customer_unique_id | object | unique identifier of a customer.| represent customer unique id
| customer_zip_code_prefix | int64 | first five digits of customer zip code| represent first five zip code of geolocation customer
| customer_city  |  object |customer city name| a customer city name in brazzil
| customer_state |  object |customer state| represent 2 letters of name customer sate
| geolocation_zip_code_prefix | int64 |first 5 digits of zip code| represent first five zip code of geolocation city and state
| geolocation_lat | float64 |Geolocation latitude| represent of the angular distance of a place north or south of the earth's equator, or of a celestial object north or south of the celestial equator, expressed in degrees.
| geolocation_lng | float64 |Geolocation longitude| the angular distance of a place east or west of the meridian at Greenwich, England, or west of the standard meridian of a celestial object, expressed in degrees.
| geolocation_city |  object |city name| represent of geolocation city name
| geolocation_state |  object |state| represent 2 letter of state where the geolocation is 
| order_id  |  object |order unique identifier| An unique id where every transaction have order id
| order_item_id | int64 |sequential number identifying number of items included in the same order.| A serial number for an unique identifier assigned  sequentially to an item, to uniquely identify it
| product_id  |  object |product unique identifier| A serial number for a unique identifier assigned  to an product, to uniquely identify it
| seller_id | object  |seller unique identifier| A serial number for a unique identifier assigned  to an seller, to uniquely identify it
| shipping_limit_date| object  |Shows the seller shipping limit date for handling the order over to the logistic partner.| the estimated delivery date is when a customer can reasonably expect the order to arrive.
| price | float64 |item price| the retail price of each item of consumer goods.
| freight_value | float64 |item freight value item (if an order has more than one item the freight value is splitted between)|  a price at which a certain cargo is delivered from one point to another
| payment_sequential | int64 |a customer may pay an order with more than one payment method. If he does so, a sequence will be| a sequential pay structure, principal payments are typically allocated to the securities in order of seniority.
| payment_type |  object |method of payment chosen by the customer.| A various of type payment for customer to pay a transaction
| payment_installments | int64 |number of installments chosen by the customer.| Instalment payments refer to a customer paying a bill in small portions throughout a fixed period of time
| payment_value  | float64 | transaction value.| A total of amount money customer need to pay to succesfull transaction

## Data Schemes
<img src="data_schemes.png" width="1000" height="500">

## Data Relational Information

## EDA

In [1]:
import pandas as pd

In [2]:
lst = [
    'olist_customers_dataset.csv',
    'olist_geolocation_dataset.csv',
    'olist_order_items_dataset.csv',
    'olist_order_payments_dataset.csv',
    'olist_order_reviews_dataset.csv',
    'olist_orders_dataset.csv',
    'olist_products_dataset.csv',
    'olist_sellers_dataset.csv',
    'product_category_name_translation.csv'
]

In [3]:
for i in lst:
    df = pd.read_csv(i)
#     df.info()

<img src="Data Relation.png" width="1000" height="500">

# Data Loading

## 1. Customers Data

In [4]:
customers = pd.read_csv("olist_customers_dataset.csv")

In [5]:
customers.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

## 2. Sellers Data

In [6]:
sellers = pd.read_csv("olist_sellers_dataset.csv")

In [7]:
sellers.head(1)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP

## 3. Products

In [8]:
products = pd.read_csv("olist_products_dataset.csv")

In [9]:
products.head(1)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

#### Remove Unwanted Columns in Products

In [10]:
products = products.drop(
    columns=['product_name_lenght',
             'product_description_lenght',
             'product_photos_qty',
             'product_weight_g',
             'product_length_cm',
             'product_height_cm',
             'product_width_cm'
            ]
)

In [11]:
products.head(1)

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria

<h3 style='text-align: center;'>Change the product name to english</h3>

In [12]:
pcn_transl = pd.read_csv("product_category_name_translation.csv")

In [13]:
products = products.merge(
    pcn_transl,
    on = 'product_category_name',
    how='left'
)

In [14]:
products.head(1)

,product_id,product_category_name,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery

In [15]:
products.drop(
    'product_category_name',
    axis=1,
    inplace=True
)

In [16]:
products.head(1)

                         product_id product_category_name_english
0  1e9e8ef04dbcff4541ed26657ea517e5                     perfumery

## 4. Order, Orders Item & Order Reviews Data

In [17]:
order_items = pd.read_csv("olist_order_items_dataset.csv")
order_items.head(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

<h3 style='text-align: center;'>Remove Unwanted Columns in Orders Item</h3>

In [19]:
order_items = order_items.drop(
    columns=['shipping_limit_date'
            ]
)

In [20]:
order_items.head(1)

,order_id,order_item_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29

In [21]:
orders = pd.read_csv("olist_orders_dataset.csv")
orders.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

<h3 style='text-align: center;'>Remove Unwanted Columns in Orders</h3>

In [22]:
orders = orders.drop(
    columns=['order_delivered_carrier_date',
             'order_delivered_customer_date',
             'order_estimated_delivery_date',
             'order_approved_at'
            ]
)

In [23]:
orders.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33

In [24]:
order_reviews = pd.read_csv("olist_order_reviews_dataset.csv")
order_reviews.head(1)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59

## 5. Order Payments Data

In [43]:
order_pay = pd.read_csv("olist_order_payments_dataset.csv")
order_pay.head(1)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

## 6. Geolocation Data

In [44]:
geolocation = pd.read_csv("olist_geolocation_dataset.csv")
geolocation.head(1)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP

# Updated Tables Info

masukin foto

# Join All Data

In [56]:
# 1. Join Table orders with order_items
df = orders.merge(
    order_items,
    on='order_id',
    how='left'
)

In [57]:
# 2. Join the merged data before with order_pay
df = df.merge(
    order_pay,
    on='order_id',
    how='outer',
    validate='m:m'
)

In [58]:
# 3. Join the merged data before with products
df = df.merge(
    products,
    on='product_id',
    how='outer'
)

In [59]:
# 4. Join the merged data before with customers
df = df.merge(
    customers,
    on='customer_id',
    how='outer'
)

In [60]:
# 5. Join the merged data before with sellers
df = df.merge(
    sellers,
    on='seller_id',
    how='outer'
)

In [61]:
# Checked the all merged data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118434 entries, 0 to 118433
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  object
 4   order_item_id                  117604 non-null  float64
 5   product_id                     117604 non-null  object
 6   seller_id                      117604 non-null  object
 7   price                          117604 non-null  float64
 8   freight_value                  117604 non-null  float64
 9   payment_sequential             118431 non-null  float64
 10  payment_type                   118431 non-null  object
 11  payment_installments           118431 non-null  float64
 12  payment_value                  118431 non-null  float64
 13  product_category_name_english  115881 non-null  object
 14  customer_unique_id             118434 non-null  object
 15  customer_zip_code_prefix       118434 non-null  int64
 16  customer_city                  118434 non-null  object
 17  customer_state                 118434 non-null  object
 18  seller_zip_code_prefix         117604 non-null  float64
 19  seller_city                    117604 non-null  object
 20  seller_state                   117604 non-null  object
dtypes: float64(7), int64(1), object(13)
memory usage: 19.9+ MB

we need to rename the order purchase timestamp into something easier to understand and split the date to make our eda easier

In [65]:
# 
df['order_purchase_date']=pd.to_datetime(df['order_purchase_timestamp'])
df['order_purchase_date'] = df['order_purchase_date'].dt.strftime('%Y-%m-%d-%H')
df['order_purchase_date'] = pd.to_datetime(df['order_purchase_date'])
df['year'] = df['order_purchase_date'].dt.year
df['month'] = df['order_purchase_date'].dt.strftime('%b')
df['day'] = df['order_purchase_date'].dt.day
df['hour'] = df['order_purchase_date'].dt.hour

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118434 entries, 0 to 118433
Data columns (total 26 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118434 non-null  object
 1   customer_id                    118434 non-null  object
 2   order_status                   118434 non-null  object
 3   order_purchase_timestamp       118434 non-null  object
 4   order_item_id                  117604 non-null  float64
 5   product_id                     117604 non-null  object
 6   seller_id                      117604 non-null  object
 7   price                          117604 non-null  float64
 8   freight_value                  117604 non-null  float64
 9   payment_sequential             118431 non-null  float64
 10  payment_type                   118431 non-null  object
 11  payment_installments           118431 non-null  float64
 12  payment_value                  118431 non-null  float64
 13  product_category_name_english  115881 non-null  object
 14  customer_unique_id             118434 non-null  object
 15  customer_zip_code_prefix       118434 non-null  int64
 16  customer_city                  118434 non-null  object
 17  customer_state                 118434 non-null  object
 18  seller_zip_code_prefix         117604 non-null  float64
 19  seller_city                    117604 non-null  object
 20  seller_state                   117604 non-null  object
 21  order_purchase_date            118434 non-null  datetime64[ns]
 22  year                           118434 non-null  int64
 23  month                          118434 non-null  object
 24  day                            118434 non-null  int64
 25  hour                           118434 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(4), object(14)
memory usage: 24.4+ MB